// * {
//   border: 1px solid;
// }

// ------------------------------------------
// VARIABLES
// ------------------------------------------
$accent-red: #d72638;
$accent-yellow: #ffe066;
$accent-blue1: #00a6fb;
$accent-blue2: #0394e3;
$accent-blue3: #003554;

$mono-light1: #f4f4f4;
$mono-light2: #ddd;
$mono-medium: #aaa;
$mono-dark1: #555;
$mono-dark2: #333;

$font-normal: "Open Sans", sans-serif;

$breakdown-md: 1200px;
$breakdown-sm: 800px;

$nav-width: 300px;
$main-spacing: 20px;

$animation-time: 0.4s;

$z-index-nav: 5;
$z-index-nav-tooltip: 10;
$z-index-recipe-sm: 15;
$z-index-add-edit: 20;
$z-index-popup-container: 25;
$z-index-popup-window: 30;

@mixin btn($bg-color, $color, $hover-bg-color, $hover-color) {
  padding: 10px;
  width: 100px;
  border-radius: 5px;
  background: $bg-color;
  border: 1px solid $bg-color;
  color: $color;
  transition: background-color 0.2s, color 0.2s;
  &:hover {
    background: $hover-bg-color;
    color: $hover-color;
  }
  i {
    color: $color;
  }
  &:hover i {
    color: $hover-color;
  }
}

@mixin popup-window {
  display: none;
  margin: auto;
  padding: $main-spacing;
  max-width: calc(100% - 2 * #{$main-spacing});
  z-index: $z-index-popup-window;
  background-color: white;
}

// ------------------------------------------
// DEFAULT VALUES
// ------------------------------------------
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-normal;
  font-size: 16px;
  color: $mono-dark2;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

button:hover {
  cursor: pointer;
}

// ------------------------------------------
// APP BACKGROUND
// ------------------------------------------
#bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: $mono-light1;
}

#bg-menu-button {
  position: fixed;
  left: $main-spacing;
  top: $main-spacing;
  padding: 5px;
  background: none;
  border: none;
  i {
    color: $accent-blue2;
    font-size: 20px;
  }
}

#bg-icon {
  color: $mono-medium;
  font-size: 40px;
}

// ------------------------------------------
// NAV
// ------------------------------------------
#nav {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: $nav-width;
  padding: $main-spacing;
  z-index: $z-index-nav;
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: $accent-blue3;
  transition: left $animation-time ease-out;
  &.hidden {
    left: -$nav-width;
  }
}

#nav-header {
  flex: 0 0 auto;
  margin-bottom: $main-spacing;
  text-align: center;
  height: 35px;
  line-height: 35px;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}

#nav-menu-button {
  padding: 5px;
  height: 100%;
  float: left;
  background: none;
  border: none;
  i {
    color: white;
    font-size: 20px;
  }
}

#nav-list {
  flex: 0 1 auto;
  margin-bottom: 2 * $main-spacing;
  list-style: none;
  overflow-x: hidden;
  overflow-y: auto;
}

.nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  border: 1px solid $accent-blue1;
  border-radius: 999px;
  overflow: hidden;
  transition: background-color 0.2s;
  &:not(:last-child) {
    margin-bottom: $main-spacing;
  }
  &:hover {
    background-color: $accent-blue1;
  }
}
.nav-item-button {
  flex: 1 1 100%;
  padding: 10px 20px;
  text-align: left;
  background: none;
  border: none;
  color: inherit;
}

.nav-item-rating {
  flex: 0 0 auto;
  margin: 5px;
  padding: 5px;
  width: 50px;
  text-align: center;
  color: inherit;
}
.nav-item-rating:hover > .rating-value {
  text-decoration: underline dotted;
}

.rating-value {
  cursor: default;
  color: inherit;
}

.rating-tooltip {
  position: fixed;
  padding: 10px;
  width: 80px;
  left: 0;
  top: 0;
  white-space: nowrap;
  z-index: $z-index-nav-tooltip;
  visibility: hidden;
  opacity: 0;
  background-color: white;
  border-radius: 5px;
  font-size: 12px;
  transition: opacity 0.2s 0.4s;
  &.visible {
    visibility: visible;
    opacity: 1;
  }
}

#nav-add-button {
  flex: 0 0 auto;
  padding: 10px;
  margin-bottom: $main-spacing;
  width: 100%;
  background-color: white;
  color: $accent-blue3;
  border: none;
  border-radius: 999px;
  font-weight: bold;
  transition: background-color 0.2s;
  &:hover {
    background-color: $accent-yellow;
  }
}

#nav-reset-container {
  flex: 0 0 auto;
  margin-top: auto;
  text-align: center;
}

#nav-reset-button {
  padding: 10px;
  border: none;
  background: none;
  i {
    font-size: 20px;
    color: white;
  }
}

// ------------------------------------------
// RECIPE WINDOW
// ------------------------------------------
#recipe-window {
  display: none;
  flex-direction: column;
  justify-content: start;
  position: absolute;
  left: 70px;
  top: 0px;
  min-height: 100%;
  width: calc(100% - 70px);
  background-color: white;
  transition: left $animation-time ease-out, width $animation-time ease-out;
  &.narrower {
    left: $nav-width;
    width: calc(100% - #{$nav-width});
  }
}

#recipe-header {
  display: flex;
  align-items: center;
  padding: $main-spacing;
  width: 100%;
  text-align: center;
  border-bottom: 3px solid $accent-blue2;
}

#recipe-close-button {
  flex: 0 0 auto;
  position: absolute;
  right: $main-spacing;
  @include btn($accent-blue2, white, white, $accent-blue2);
}

#recipe-name {
  flex: 1 1 100%;
  color: $accent-blue2;
  font-size: 24px;
}

#recipe-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#ingredients {
  padding: $main-spacing;
  width: 50%;
}

#ingredients-header {
  padding: 10px;
  margin-bottom: $main-spacing;
  text-align: center;
  color: $mono-dark2;
  font-size: 20px;
}

#ingredients-list {
  list-style: none;
  text-align: center;
  border: 1px solid $mono-medium;
  border-radius: 20px;
}

.ingredients-item {
  padding: 10px;
  &:not(:last-child) {
    border-bottom: 1px solid $mono-medium;
  }
}

#steps {
  @extend #ingredients;
}

#steps-header {
  @extend #ingredients-header;
}

#steps-list {
  counter-reset: steps-counter;
}

.steps-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  &:not(:last-child) {
    border-bottom: 1px solid $mono-medium;
  }
  &::before {
    counter-increment: steps-counter;
    content: counter(steps-counter) ".";
    padding: 5px;
  }
}

.step-name {
  flex: 1 1 100%;
  padding: 10px;
}

.step-time {
  flex: 0 0 110px;
  margin: 5px;
  padding: 5px 10px;
  text-align: center;
  // font-size: 14px;
  // background-color: $accent-blue1;
  color: $accent-blue1;
  // border-radius: 999px;
  i {
    float: left;
    color: $accent-blue1;
  }
}

#recipe-menu {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
}

#recipe-edit-button {
  @include btn($mono-light2, $mono-dark2, white, $mono-dark2);
}

#recipe-rating-container {
  display: flex;
  flex-direction: row;
  padding: 0px 10px;
}

.recipe-rating-button {
  padding: 5px;
  border: none;
  background: none;
  i {
    font-size: 24px;
    color: $mono-light2;
  }
  &.checked > i {
    color: $accent-blue1;
  }
  &.hovered > i {
    color: $accent-yellow;
  }
}

#recipe-delete-button {
  @include btn($accent-red, white, white, $accent-red);
}

// ------------------------------------------
// POPUP
// ------------------------------------------
.popup-container {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  z-index: $z-index-popup-container;
  display: none;
  &.visible {
    display: flex;
  }
}

.popup-bg {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  background-color: $mono-dark1;
}

.popup-container.visible .popup-bg {
  animation: popup-bg $animation-time;
  opacity: 0.7;
}

@keyframes popup-bg {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}

#popup-delete-window {
  @include popup-window();
  width: 300px;
}

#popup-delete-message {
  margin-top: $main-spacing;
  margin-bottom: 2 * $main-spacing;
  text-align: center;
}

#popup-delete-menu {
  display: flex;
  justify-content: space-evenly;
}

#delete-ok-button {
  @include btn($accent-red, white, white, $accent-red);
}

#delete-cancel-button {
  @include btn($mono-medium, white, white, $mono-medium);
}

#popup-edit-window {
  @include popup-window();
  width: 800px;
}

#popup-edit-title {
  margin-top: $main-spacing;
  margin-bottom: $main-spacing;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

#popup-edit-form {
  margin-bottom: $main-spacing;
}

input,
textarea,
label,
#steps-label {
  margin: 5px;
  padding: 5px;
}

input,
textarea {
  background-color: $mono-light1;
  border: none;
  border-radius: 5px;
  &.incorrect {
    border: 1px solid $accent-red;
    box-shadow: 0px 0px 2px $accent-red;
  }
}

#input-name,
#input-ingredients {
  display: block;
  width: calc(100% - 15px);
  margin-bottom: $main-spacing;
}

#input-ingredients {
  resize: none;
}

#input-steps-list {
  list-style: none;
  counter-reset: editor-counter;
}

.input-steps-item {
  overflow: hidden;
  counter-increment: editor-counter;
  &::before {
    content: counter(editor-counter);
    display: inline-block;
    padding: 5px;
    width: 20px;
    text-align: center;
    // background-color: $mono-light2;
    // border-radius: 5px;
  }
}

.input-step {
  width: calc(100% - 230px);
}

.input-time {
  width: 70px;
}

#input-steps-menu {
  text-align: left;
}

#add-step-button,
#remove-step-button {
  margin: 5px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  background-color: white;
  border: 1px solid $mono-medium;
  border-radius: 999px;
  color: $mono-medium;
  font-weight: bold;
}

#form-validation-warning {
  display: none;
  margin: 5px;
  margin-bottom: $main-spacing;
  padding: 10px;
  border: 1px solid $accent-red;
  border-radius: 5px;
  &.visible {
    display: block;
  }
}

#popup-edit-menu {
  display: flex;
  justify-content: center;
}

#edit-ok-button {
  @include btn($accent-blue2, white, white, $accent-blue2);
  margin: $main-spacing;
}

#edit-clear-button {
  @include btn($accent-yellow, $mono-dark2, white, $accent-yellow);
  margin: $main-spacing;
}

#edit-cancel-button {
  @include btn($mono-medium, white, white, $mono-medium);
  margin: $main-spacing;
}

// ------------------------------------------
// MEDIA QUERIES
// ------------------------------------------
@media (max-width: $breakdown-md) {
  #ingredients,
  #steps {
    width: 100%;
  }
}

@media (max-width: $breakdown-sm) {
  #nav {
    width: 100vw;
    &.hidden {
      transform: translateX($nav-width);
    }
  }

  #nav-menu-button {
    display: none;
  }

  #recipe-window,
  #recipe-window.narrower {
    left: 0px;
    width: 100%;
  }

  #recipe-window {
    z-index: $z-index-recipe-sm;
  }
}
