// * {
//   border: 1px solid;
// }

// ------------------------------------------
// VARIABLES
// ------------------------------------------
$accent-red: #d72638;
$accent-yellow: #ffe066;
$accent-blue1: #00a6fb;
$accent-blue2: #0582ca;
$accent-gray: #413c58;
$mono-light1: #f4f4f4;
$mono-light2: #ddd;
$mono-medium: #aaa;
$mono-dark1: #555;
$mono-dark2: #333;

$font-normal: "Open Sans", sans-serif;

$breakdown-md: 1200px;
$breakdown-sm: 800px;
$breakdown-xs: 600px;

$nav-width: 300px;

$z-index-nav: 5;
$z-index-nav-tooltip: 10;
$z-index-recipe-sm: 15;
$z-index-add-edit: 20;
$z-index-popup-container: 25;
$z-index-popup-window: 30;

@mixin btn($bg-color, $color, $hover-bg-color, $hover-color) {
  margin: 0.5em;
  padding: 0.5em 1em;
  border-radius: 5px;
  background: $bg-color;
  border: 1px solid $bg-color;
  font-size: 1.5rem;
  color: $color;
  transition: background-color 0.2s, color 0.2s;
  &:hover {
    background: $hover-bg-color;
    color: $hover-color;
    box-shadow: 0 2px 4px $mono-medium;
  }
  i {
    color: $color;
  }
  &:hover i {
    color: $hover-color;
  }
}

@mixin popup-window {
  display: none;
  margin: auto;
  max-width: 96%;
  z-index: $z-index-popup-window;
  background-color: white;
}

// ------------------------------------------
// DEFAULT VALUES
// ------------------------------------------
html {
  font-size: 62.5%;
}

@media (max-width: $breakdown-sm) {
  html {
    font-size: 58%;
  }
}

@media (max-width: $breakdown-xs) {
  html {
    font-size: 54%;
  }
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  color: $mono-dark2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-normal;
  font-size: 1em;
  color: inherit;
}

button {
  background: none;
  border: none;
  &:hover {
    cursor: pointer;
  }
}

// ------------------------------------------
// APP BACKGROUND
// ------------------------------------------
#bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-size: 1.6rem;
  background: white;
}

#bg-menu-button {
  position: fixed;
  left: 1em;
  top: 1em;
  font-size: 2rem;
  color: $accent-blue2;
  &:hover {
    color: $accent-yellow;
  }
}

#bg-icon {
  font-size: 2em;
  color: $mono-medium;
}

// ------------------------------------------
// NAV
// ------------------------------------------
#nav {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: $nav-width;
  padding: 1em;
  z-index: $z-index-nav;
  position: fixed;
  left: 0px;
  top: 0px;
  font-size: 1.6rem;
  background-color: $accent-gray;
  box-shadow: 0 0 6px $mono-medium;
  transition: left 0.4s ease-out;
  &.hidden {
    left: -$nav-width;
  }
}

#nav-header {
  flex: 0 0 auto;
  margin-bottom: 1em;
  font-size: 1.4em;
  text-align: center;
  height: 35px;
  line-height: 35px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

#nav-menu-button {
  height: 100%;
  float: left;
  font-size: 2rem;
  &:hover {
    color: $accent-yellow;
  }
}

#nav-list {
  flex: 0 1 auto;
  margin-bottom: 1em;
  list-style: none;
  overflow-x: hidden;
  overflow-y: auto;
}

.nav-item {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 999px;
  align-items: center;
  overflow: hidden;
  &:not(:last-child) {
    margin-bottom: 1em;
  }
  &:hover {
    background-color: $mono-light1;
  }
}

.nav-item-button {
  flex: 1 1 100%;
  padding: 0.5em 1em;
  text-align: left;
}

.nav-item-rating {
  flex: 0 0 auto;
  padding: 0.5em 1em;
  text-align: center;
}

.nav-item-rating:hover > .rating-value {
  text-decoration: underline dotted;
}

.rating-value {
  cursor: default;
  color: $accent-blue1;
}

.rating-tooltip {
  position: fixed;
  padding: 0.5em;
  left: 0;
  top: 0;
  white-space: nowrap;
  z-index: $z-index-nav-tooltip;
  visibility: hidden;
  opacity: 0;
  background-color: white;
  border-radius: 5px;
  transition: opacity 0.2s 0.4s;
  &.visible {
    visibility: visible;
    opacity: 1;
  }
}

#nav-add-button {
  flex: 0 0 auto;
  padding: 0.5em;
  margin-bottom: 1em;
  width: 100%;
  background-color: $accent-blue1;
  color: white;
  border-radius: 999px;
  font-weight: bold;
  transition: background-color 0.2s;
  &:hover {
    background-color: $accent-yellow;
    color: $mono-dark2;
  }
}

#nav-reset-container {
  flex: 0 0 auto;
  margin-top: auto;
  text-align: center;
}

#nav-reset-button {
  padding: 0.5em;
  color: white;
  &:hover {
    color: $accent-yellow;
  }
}

// ------------------------------------------
// RECIPE WINDOW
// ------------------------------------------
#recipe-window {
  display: none;
  flex-direction: column;
  justify-content: start;
  position: absolute;
  left: 70px;
  top: 0px;
  min-height: 100%;
  width: calc(100% - 70px);
  font-size: 1.6rem;
  background-color: white;
  transition: left 0.4s ease-out, width 0.4s ease-out;
  &.narrower {
    left: $nav-width;
    width: calc(100% - #{$nav-width});
  }
}

#recipe-header {
  display: flex;
  align-items: center;
  padding: 1em;
  width: 100%;
  text-align: center;
  border-bottom: 3px solid $accent-blue1;
  color: $accent-blue1;
}

#recipe-close-button {
  flex: 0 0 auto;
  position: absolute;
  right: 1em;
  @include btn($accent-blue1, white, white, $accent-blue1);
}

#recipe-name {
  flex: 1 1 100%;
  font-size: 1.6em;
}

#recipe-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#ingredients {
  padding: 1em;
  width: 50%;
}

#ingredients-header {
  margin-bottom: 1em;
  text-align: center;
  font-size: 1.2em;
}

#ingredients-list {
  list-style: none;
  text-align: center;
  border: 1px solid $mono-medium;
  border-radius: 20px;
}

.ingredients-item {
  padding: 0.5em;
  &:not(:last-child) {
    border-bottom: 1px solid $mono-medium;
  }
}

#steps {
  @extend #ingredients;
}

#steps-header {
  @extend #ingredients-header;
}

#steps-list {
  counter-reset: steps-counter;
}

.steps-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  &:not(:last-child) {
    border-bottom: 1px solid $mono-medium;
  }
  &::before {
    counter-increment: steps-counter;
    content: counter(steps-counter) ".";
  }
}

.step-name {
  flex: 1 1 100%;
  padding: 0.5em;
}

.step-time {
  flex: 0 0 auto;
  font-size: 0.9em;
  color: $accent-blue1;
  font-weight: bold;
  i {
    font-weight: inherit;
  }
}

#recipe-menu {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  width: 100%;
}

#recipe-edit-button {
  @include btn($mono-light2, $mono-dark2, white, $mono-dark2);
}

#recipe-rating-container {
  display: flex;
  flex-direction: row;
  font-size: 1.3em;
}

.recipe-rating-button {
  padding: 0.3em;
  color: $mono-light2;
  &.checked {
    color: $accent-blue1;
  }
  &.hovered {
    color: $accent-yellow;
  }
}

#recipe-delete-button {
  @include btn($accent-red, white, white, $accent-red);
}

// ------------------------------------------
// POPUP
// ------------------------------------------
.popup-container {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  z-index: $z-index-popup-container;
  display: none;
  font-size: 1.6rem;
  &.visible {
    display: flex;
  }
}

.popup-bg {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: $mono-dark1;
}

.popup-container.visible .popup-bg {
  animation: popup-bg 0.4s;
  opacity: 0.7;
}

@keyframes popup-bg {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}

#popup-delete-window {
  @include popup-window();
  width: 300px;
  padding: 1em;
}

#popup-delete-message {
  margin-bottom: 1em;
  text-align: center;
}

#popup-delete-menu {
  display: flex;
  justify-content: center;
}

#delete-ok-button {
  @include btn($accent-red, white, white, $accent-red);
}

#delete-cancel-button {
  @include btn($mono-medium, white, white, $mono-medium);
}

#popup-edit-window {
  @include popup-window();
  width: 800px;
  padding: 1em;
}

#popup-edit-title {
  margin-bottom: 1em;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

#input-name-label,
#input-ingredients-label,
#steps-label {
  display: block;
  padding: 0.3em;
  width: 100%;
  text-align: center;
}

input,
textarea {
  display: inline-block;
  padding: 0.3em;
  background-color: $mono-light1;
  border: none;
  border-radius: 5px;
  &.incorrect {
    border: 1px solid $accent-red;
    box-shadow: 0px 0px 2px $accent-red;
  }
}

#input-name {
  width: 100%;
}

#input-ingredients {
  width: 100%;
  resize: none;
}

#input-steps-list {
  list-style: none;
  counter-reset: editor-counter;
}

.input-steps-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0.3em;
  align-items: center;
  counter-increment: editor-counter;
  &::before {
    content: counter(editor-counter);
    display: inline-block;
    width: 2em;
    text-align: center;
  }
}

.input-step-name {
  flex: 1 1 auto;
}

.input-step-break {
  flex: 0 0 100%;
  display: none;
  height: 0.3em;
}

.input-time-label {
  display: inline-block;
  padding: 0.3em;
}

.input-step-time {
  width: 4em;
}

#input-steps-menu {
  padding: 0.5em;
  text-align: left;
}

#add-step-button,
#remove-step-button {
  margin: 0.2em;
  height: 2em;
  width: 2em;
  text-align: center;
  background-color: white;
  border: 1px solid $mono-medium;
  border-radius: 999px;
  color: $mono-dark1;
  font-weight: bold;
}

#form-validation-warning {
  display: none;
  margin: 0.5em;
  padding: 0.5em;
  border: 1px solid $accent-red;
  border-radius: 5px;
  &.visible {
    display: block;
  }
}

#popup-edit-menu {
  display: flex;
  justify-content: space-between;
}

#edit-ok-button {
  @include btn($accent-blue1, white, white, $accent-blue1);
}

#edit-clear-button {
  @include btn($accent-yellow, $mono-dark2, white, $mono-dark2);
}

#edit-cancel-button {
  @include btn($mono-medium, white, white, $mono-medium);
}

// ------------------------------------------
// MEDIA QUERIES
// ------------------------------------------
@media (max-width: $breakdown-md) {
  #ingredients,
  #steps {
    width: 100%;
  }
}

@media (max-width: $breakdown-sm) {
  #nav {
    width: 100vw;
    &.hidden {
      transform: translateX($nav-width);
    }
  }

  #nav-menu-button {
    display: none;
  }

  #recipe-window,
  #recipe-window.narrower {
    left: 0px;
    width: 100%;
  }

  #recipe-window {
    z-index: $z-index-recipe-sm;
  }
}

@media (max-width: $breakdown-xs) {
  .input-step-break {
    display: inline-block;
  }
}
