* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 16px; }

body {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw; }

#nav {
  flex: 0 0 300px;
  padding: 20px; }
  #nav .header {
    margin-bottom: 20px;
    padding: 10px; }
  #nav .list {
    list-style: none; }
    #nav .list li {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 20px; }
      #nav .list li button {
        flex: 1 1 100%;
        padding: 10px;
        text-align: left; }
      #nav .list li .rating {
        flex: 0 0 auto;
        margin: 5px;
        padding: 5px 10px;
        position: relative; }
        #nav .list li .rating .tooltip {
          position: absolute;
          padding: 5px;
          left: -15px;
          bottom: -35px;
          white-space: nowrap;
          z-index: 10;
          visibility: hidden; }
      #nav .list li .rating:hover .tooltip {
        visibility: visible; }

#add-recipe {
  display: block;
  padding: 10px;
  width: 100%; }

#main {
  flex: 1 1 100%;
  padding: 20px; }

#c-recipe {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

#recipe-name {
  padding: 20px;
  width: 100%;
  text-align: center; }

#ingredients {
  padding: 20px;
  width: 50%; }
  #ingredients .header {
    padding: 10px; }
  #ingredients .list {
    list-style: none; }
    #ingredients .list li {
      padding: 10px; }

#steps {
  padding: 20px;
  width: 50%; }
  #steps .header {
    padding: 10px; }
  #steps .list {
    counter-reset: li-counter; }
    #steps .list li {
      display: flex;
      flex-direction: row;
      align-items: center; }
      #steps .list li::before {
        counter-increment: li-counter;
        content: counter(li-counter) ".";
        padding: 5px; }
      #steps .list li .step {
        flex: 1 1 100%;
        padding: 10px; }
      #steps .list li .time {
        flex: 0 0 110px;
        margin: 5px;
        padding: 5px 10px;
        text-align: center; }
        #steps .list li .time i {
          float: left; }

@media (max-width: 1100px) {
  #ingredients,
  #steps {
    width: 100%; } }
@media (max-width: 700px) {
  #nav {
    flex: 0 0 100%; }
    #nav .list li .rating .tooltip {
      right: 0px; }

  #main {
    display: none; } }
#nav .header {
  background-color: #ccc4b8; }
#nav .list li {
  border: 1px solid #ccc4b8; }
  #nav .list li button {
    background: none;
    border: none; }
  #nav .list li .rating {
    border-radius: 5px; }
    #nav .list li .rating:hover {
      text-decoration: underline dotted; }
    #nav .list li .rating .tooltip {
      background-color: #ccc4b8;
      border: none;
      border-radius: 5px; }

#c-recipe {
  border: 1px solid #ccc4b8;
  border-radius: 20px;
  overflow: hidden; }

#recipe-name {
  background-color: #ccc4b8; }

#ingredients .header {
  font-size: 16px;
  text-transform: uppercase; }
#ingredients .list {
  border: 1px solid #ccc4b8;
  border-radius: 10px; }
  #ingredients .list li:not(:last-child) {
    border-bottom: 1px solid #ccc4b8; }

#steps .header {
  font-size: 16px;
  text-transform: uppercase; }
#steps .list li .time {
  border-radius: 5px; }
#steps .list li:not(:last-child) {
  border-bottom: 1px solid #ccc4b8; }

/*# sourceMappingURL=style.css.map */
