html {
  font-size: 62.5%; }

@media (max-width: 600px) {
  html {
    font-size: 58%; } }
@media (max-width: 450px) {
  html {
    font-size: 54%; } }
body {
  overflow-x: hidden;
  overflow-y: auto;
  color: #333; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  color: inherit; }

button {
  background: none;
  border: none; }
  button:hover {
    cursor: pointer; }

#bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-size: 1.6rem;
  background: white; }

#bg-menu-button {
  position: fixed;
  left: 1em;
  top: 1em;
  font-size: 2rem;
  color: #0582ca; }
  #bg-menu-button:hover {
    color: #ffe066; }

#bg-icon {
  font-size: 2em;
  color: #aaa; }

#nav {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 300px;
  padding: 1em;
  z-index: 5;
  position: fixed;
  left: 0px;
  top: 0px;
  font-size: 1.6rem;
  background-color: #413c58;
  box-shadow: 0 0 6px #aaa;
  transition: left 0.4s ease-out; }
  #nav.hidden {
    left: -300px; }

#nav-header {
  flex: 0 0 auto;
  margin-bottom: 1em;
  font-size: 1.4em;
  text-align: center;
  height: 35px;
  line-height: 35px;
  color: white;
  text-transform: uppercase;
  font-weight: bold; }

#nav-menu-button {
  height: 100%;
  float: left;
  font-size: 2rem; }
  #nav-menu-button:hover {
    color: #ffe066; }

#nav-list {
  flex: 0 1 auto;
  margin-bottom: 1em;
  list-style: none;
  overflow-x: hidden;
  overflow-y: auto; }

.nav-item {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 0.5em;
  align-items: center;
  overflow: hidden; }
  .nav-item:not(:last-child) {
    margin-bottom: 1em; }
  .nav-item:hover {
    background-color: #f4f4f4; }

.nav-item-button {
  flex: 1 1 100%;
  padding: 0.5em 1em;
  text-align: left; }

.nav-item-rating {
  flex: 0 0 auto;
  padding: 0.5em 1em;
  text-align: center; }

.nav-item-rating:hover > .rating-value {
  text-decoration: underline dotted; }

.rating-value {
  cursor: default;
  color: #00a6fb; }

.rating-tooltip {
  position: fixed;
  padding: 0.5em;
  left: 0;
  top: 0;
  white-space: nowrap;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  background-color: white;
  border-radius: 5px;
  transition: opacity 0.2s 0.4s; }
  .rating-tooltip.visible {
    visibility: visible;
    opacity: 1; }

#nav-add-button {
  flex: 0 0 auto;
  padding: 0.5em;
  margin-bottom: 1em;
  width: 100%;
  background-color: #00a6fb;
  color: white;
  border-radius: 0.5em;
  font-weight: bold;
  transition: background-color 0.2s; }
  #nav-add-button:hover {
    background-color: #ffe066;
    color: #333; }

#nav-reset-container {
  flex: 0 0 auto;
  margin-top: auto;
  text-align: center; }

#nav-reset-button {
  padding: 0.5em;
  color: white; }
  #nav-reset-button:hover {
    color: #ffe066; }

#recipe-window {
  display: none;
  flex-direction: column;
  justify-content: start;
  position: absolute;
  left: 70px;
  top: 0px;
  min-height: 100%;
  width: calc(100% - 70px);
  font-size: 1.6rem;
  background-color: white;
  transition: left 0.4s ease-out, width 0.4s ease-out; }
  #recipe-window.narrower {
    left: 300px;
    width: calc(100% - 300px); }

#recipe-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  width: 100%;
  border-bottom: 3px solid #00a6fb;
  color: #00a6fb; }

#recipe-name {
  font-size: 1.2em;
  text-align: center; }

#recipe-close-button {
  position: absolute;
  right: 1em;
  padding: 0.5em;
  color: #aaa; }
  #recipe-close-button:hover {
    color: #555; }

#recipe-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

#ingredients, #steps {
  padding: 1em;
  width: 50%; }

#ingredients-header, #steps-header {
  margin-bottom: 1em;
  text-align: center;
  font-size: 1.1em; }

#ingredients-list {
  list-style: none;
  text-align: center;
  border: 1px solid #aaa;
  border-radius: 1em; }

.ingredients-item {
  padding: 0.5em; }
  .ingredients-item:not(:last-child) {
    border-bottom: 1px solid #aaa; }

#steps-list {
  counter-reset: steps-counter; }

.steps-item {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .steps-item:not(:last-child) {
    border-bottom: 1px solid #aaa; }
  .steps-item::before {
    counter-increment: steps-counter;
    content: counter(steps-counter) "."; }

.step-name {
  flex: 1 1 100%;
  padding: 0.5em; }

.step-time {
  flex: 0 0 auto;
  font-size: 0.9em;
  color: #00a6fb;
  font-weight: bold; }
  .step-time i {
    font-weight: inherit; }

#recipe-menu {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1em;
  width: 100%; }

#recipe-edit-button {
  margin: 0.5em;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  background: #ddd;
  border: 1px solid #ddd;
  font-size: 1.5rem;
  color: #333;
  transition: background-color 0.2s, color 0.2s; }
  #recipe-edit-button:hover {
    background: white;
    color: #333;
    box-shadow: 0 2px 4px #aaa; }
  #recipe-edit-button i {
    color: #333; }
  #recipe-edit-button:hover i {
    color: #333; }

#recipe-rating-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.3em; }

.recipe-rating-button {
  padding: 0.3em;
  color: #ddd; }
  .recipe-rating-button.checked {
    color: #00a6fb; }
  .recipe-rating-button.hovered {
    color: #ffe066; }

#recipe-delete-button {
  margin: 0.5em;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  background: #d72638;
  border: 1px solid #d72638;
  font-size: 1.5rem;
  color: white;
  transition: background-color 0.2s, color 0.2s; }
  #recipe-delete-button:hover {
    background: white;
    color: #d72638;
    box-shadow: 0 2px 4px #aaa; }
  #recipe-delete-button i {
    color: white; }
  #recipe-delete-button:hover i {
    color: #d72638; }

.popup-container {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  z-index: 25;
  display: none;
  font-size: 1.6rem; }
  .popup-container.visible {
    display: flex; }

.popup-bg {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: #555; }

.popup-container.visible .popup-bg {
  animation: popup-bg 0.4s;
  opacity: 0.7; }

@keyframes popup-bg {
  from {
    opacity: 0; }
  to {
    opacity: 0.7; } }
#popup-delete-window {
  display: none;
  margin: auto;
  max-width: 96%;
  z-index: 30;
  background-color: white;
  width: 300px;
  padding: 1em; }

#popup-delete-message {
  margin-bottom: 1em;
  text-align: center; }

#popup-delete-menu {
  display: flex;
  justify-content: center; }

#delete-ok-button {
  margin: 0.5em;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  background: #d72638;
  border: 1px solid #d72638;
  font-size: 1.5rem;
  color: white;
  transition: background-color 0.2s, color 0.2s; }
  #delete-ok-button:hover {
    background: white;
    color: #d72638;
    box-shadow: 0 2px 4px #aaa; }
  #delete-ok-button i {
    color: white; }
  #delete-ok-button:hover i {
    color: #d72638; }

#delete-cancel-button {
  margin: 0.5em;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  background: #aaa;
  border: 1px solid #aaa;
  font-size: 1.5rem;
  color: white;
  transition: background-color 0.2s, color 0.2s; }
  #delete-cancel-button:hover {
    background: white;
    color: #aaa;
    box-shadow: 0 2px 4px #aaa; }
  #delete-cancel-button i {
    color: white; }
  #delete-cancel-button:hover i {
    color: #aaa; }

#popup-edit-window {
  display: none;
  margin: auto;
  max-width: 96%;
  z-index: 30;
  background-color: white;
  width: 800px;
  padding: 1em; }

#popup-edit-title {
  margin-bottom: 1em;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold; }

#input-name-label,
#input-ingredients-label,
#steps-label {
  display: block;
  padding: 0.3em;
  width: 100%;
  text-align: center; }

input,
textarea {
  display: inline-block;
  padding: 0.3em;
  background-color: #ddd;
  border: none; }
  input.incorrect,
  textarea.incorrect {
    border: 1px solid #d72638;
    box-shadow: 0px 0px 2px #d72638; }

#input-name {
  width: 100%;
  margin-bottom: 1em; }

#input-ingredients {
  width: 100%;
  margin-bottom: 1em;
  resize: none; }

#input-steps-list {
  list-style: none;
  counter-reset: editor-counter; }

.input-steps-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.3em;
  counter-increment: editor-counter; }
  .input-steps-item::before {
    content: counter(editor-counter);
    display: inline-block;
    width: 2em;
    text-align: center; }

.input-step-name {
  flex: 1 1 0; }

.input-time-label {
  display: inline-block;
  padding: 0.3em; }
  .input-time-label i {
    display: none; }

.input-step-time {
  width: 6em; }

#input-steps-menu {
  padding: 0.5em;
  text-align: center; }

#add-step-button,
#remove-step-button {
  margin: 0.2em;
  height: 2em;
  width: 2em;
  text-align: center;
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 999px;
  color: #555;
  font-weight: bold; }

#form-validation-warning {
  display: none;
  margin: 0.5em;
  padding: 0.5em;
  border: 1px solid #d72638;
  border-radius: 5px; }
  #form-validation-warning.visible {
    display: block; }

#popup-edit-menu {
  display: flex;
  justify-content: space-between; }

#edit-ok-button {
  margin: 0.5em;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  background: #00a6fb;
  border: 1px solid #00a6fb;
  font-size: 1.5rem;
  color: white;
  transition: background-color 0.2s, color 0.2s; }
  #edit-ok-button:hover {
    background: white;
    color: #00a6fb;
    box-shadow: 0 2px 4px #aaa; }
  #edit-ok-button i {
    color: white; }
  #edit-ok-button:hover i {
    color: #00a6fb; }

#edit-clear-button {
  margin: 0.5em;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  background: #ffe066;
  border: 1px solid #ffe066;
  font-size: 1.5rem;
  color: #333;
  transition: background-color 0.2s, color 0.2s; }
  #edit-clear-button:hover {
    background: white;
    color: #333;
    box-shadow: 0 2px 4px #aaa; }
  #edit-clear-button i {
    color: #333; }
  #edit-clear-button:hover i {
    color: #333; }

#edit-cancel-button {
  margin: 0.5em;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  background: #aaa;
  border: 1px solid #aaa;
  font-size: 1.5rem;
  color: white;
  transition: background-color 0.2s, color 0.2s; }
  #edit-cancel-button:hover {
    background: white;
    color: #aaa;
    box-shadow: 0 2px 4px #aaa; }
  #edit-cancel-button i {
    color: white; }
  #edit-cancel-button:hover i {
    color: #aaa; }

@media (max-width: 1200px) {
  #ingredients, #steps,
  #steps {
    width: 100%; } }
@media (max-width: 800px) {
  #nav {
    width: 100vw; }
    #nav.hidden {
      transform: translateX(300px); }

  #nav-menu-button {
    display: none; }

  #recipe-window,
  #recipe-window.narrower {
    left: 0px;
    width: 100%; }

  #recipe-window {
    z-index: 15; } }
@media (max-width: 600px) {
  .input-steps-item::before {
    display: none; }

  .input-time-label i {
    display: inline; }
  .input-time-label span {
    display: none; } }
@media (max-width: 450px) {
  #recipe-rating-container {
    order: -1;
    flex: 0 0 100%; } }

/*# sourceMappingURL=style.css.map */
