// VARIABLES
$accent-ye1: #fad275;
$accent-ye2: #f9c74f;
$accent-or1: #f8961e;
$accent-or2: #f3722c;
$accent-red: #f94144;
$accent-gr1: #90be6d;
$accent-gr2: #43aa8b;
$accent-blu: #577590;

$mono-light1: #f4f4f4;
$mono-light2: #ddd;
$mono-medium: #aaa;
$mono-dark1: #555;
$mono-dark2: #333;

$font-em: "Comfortaa", cursive;
$font-normal: "Montserrat", sans-serif;

$breakdown-md: 1200px;
$breakdown-sm: 800px;

$nav-width: 300px;
$main-spacing: 20px;

$z-index-nav: 5;
$z-index-nav-tooltip: 10;
$z-index-recipe-sm: 15;
$z-index-add-edit: 20;

// ------------------------------------------
// DEFAULT VALUES
// ------------------------------------------
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-normal;
  font-size: 16px;
  color: $mono-dark2;
  // border: 1px solid;
}

body {
  background: $mono-light1;
}

button:hover {
  cursor: pointer;
}

// ------------------------------------------
// CONTAINERS
// ------------------------------------------
#background {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

#c-nav {
  flex: 0 0 $nav-width;
  padding: $main-spacing;
  position: relative;
  transition: flex-basis 0.5s ease-out;

  &.collapsed {
    flex-basis: 0px;
  }

  .menu-button {
    padding: 5px;
  }
}

#c-recipe {
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    color: $mono-light2;
    font-size: 80px;
  }
}

// ------------------------------------------
// NAV
// ------------------------------------------
#nav {
  height: 100vh;
  width: $nav-width;
  padding: $main-spacing;
  z-index: $z-index-nav;
  position: absolute;
  left: 0px;
  background-color: $accent-ye2;
  box-shadow: 2px 0px 8px $mono-medium;
  transition: left 0.5s ease-out;

  &.hidden {
    left: -$nav-width;
  }

  .header {
    margin-bottom: 30px;
    text-align: center;
    height: 35px;
    line-height: 35px;
    color: $mono-dark1;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;

    .menu-button {
      padding: 5px;
      height: 100%;
      float: left;
    }
  }

  .list {
    list-style: none;
    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 20px;
      background-color: $accent-ye1;
      border-radius: 5px;
      transition: background-color 0.2s;

      &:hover {
        background-color: white;
      }

      button {
        flex: 1 1 100%;
        padding: 10px;
        text-align: left;
        background: none;
        border: none;
      }

      .rating {
        flex: 0 0 auto;
        margin: 5px;
        padding: 5px;
        width: 50px;
        text-align: center;
        position: relative;
        border-radius: 5px;

        &:hover {
          text-decoration: underline dotted;
        }

        .tooltip {
          position: absolute;
          padding: 5px;
          width: 80px;
          right: -15px;
          bottom: -35px;
          white-space: nowrap;
          z-index: $z-index-nav-tooltip;
          visibility: hidden;
          opacity: 0;
          background-color: $accent-gr2;
          color: white;
          border-radius: 5px;
          font-size: 12px;
          transition: opacity 0.2s 0.4s;
        }
      }

      .rating:hover .tooltip {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.menu-button {
  background: none;
  border: none;
  i {
    color: $mono-dark1;
    font-size: 20px;
  }
}
.menu-button:hover i {
  color: $mono-dark2;
}

#add-recipe {
  display: block;
  padding: 15px;
  width: 100%;
  background-color: $mono-dark1;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.2s;

  &:hover {
    background-color: $accent-gr2;
    box-shadow: 0px 0px 4px 2px white;
  }
}

// ------------------------------------------
// RECIPE
// ------------------------------------------
#recipe {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  left: $nav-width;
  margin: $main-spacing;
  width: calc(100% - #{$nav-width} - 2 * #{$main-spacing});
  opacity: 1;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 6px 10px $mono-medium;
  transition: left 0.5s ease-out, opacity 0.5s ease-out, width 0.5s ease-out;
  &.hidden {
    left: -100vw;
    opacity: 0;
  }
  &.expanded:not(.hidden) {
    left: 3 * $main-spacing;
    width: calc(100% - 5 * #{$main-spacing});
  }
}

#recipe-header {
  display: flex;
  align-items: center;
  padding: $main-spacing;
  width: 100%;
  text-align: center;
  background-color: $accent-gr2;
}

@mixin btn($bg-color, $border-color, $color, $hover-color) {
  padding: 10px;
  width: 100px;
  border-radius: 5px;
  background: $bg-color;
  border: 1px solid $border-color;
  color: $color;
  // text-transform: uppercase;
  // font-size: 14px;
  // font-weight: bold;
  transition: background-color 0.2s, color 0.2s;
  &:hover {
    background: white;
    color: $hover-color;
  }
}

#close-button {
  flex: 0 0 auto;
  @include btn($accent-gr2, white, white, $accent-gr2);
}

#recipe-name {
  flex: 1 1 100%;
  color: white;
  font-size: 24px;
}

@mixin box-with-header {
  padding: $main-spacing;
  width: 50%;

  .header {
    padding: 10px;
    margin-bottom: $main-spacing;
    text-align: center;
    color: $mono-dark1;
    font-size: 20px;
  }
}

#ingredients {
  @include box-with-header();

  .list {
    list-style: none;
    background-color: $mono-light1;
    border: 1px solid $accent-gr2;
    border-radius: 5px;
    li {
      padding: 10px;
      &:not(:last-child) {
        border-bottom: 1px solid $accent-gr2;
      }
    }
  }
}

#steps {
  @include box-with-header();

  .list {
    counter-reset: li-counter;
    li {
      display: flex;
      flex-direction: row;
      align-items: center;

      &:not(:last-child) {
        border-bottom: 1px solid $accent-gr2;
      }

      &::before {
        counter-increment: li-counter;
        content: counter(li-counter) ".";
        padding: 5px;
      }

      .step {
        flex: 1 1 100%;
        padding: 10px;
      }
      .time {
        flex: 0 0 110px;
        margin: 5px;
        padding: 5px 10px;
        text-align: center;
        background-color: $accent-gr2;
        color: white;
        border-radius: 5px;
        i {
          float: left;
          color: white;
        }
      }
    }
  }
}

#buttons {
  padding: 20px;
  width: 100%;
}

#edit-button {
  float: left;
  @include btn($accent-ye1, $accent-ye1, $mono-dark2, $mono-dark1);
}

#delete-button {
  float: right;
  @include btn($accent-red, $accent-red, white, $accent-red);
}

// ------------------------------------------
// MEDIA QUERIES
// ------------------------------------------
@media (max-width: $breakdown-md) {
  #ingredients,
  #steps {
    width: 100%;
  }
}

@media (max-width: $breakdown-sm) {
  #background {
    display: none;
  }

  #nav {
    width: 100vw;

    &.hidden {
      transform: translateX($nav-width);
    }

    .menu-button {
      display: none;
    }
  }
  #recipe,
  #recipe.expanded:not(.hidden) {
    left: 0px;
    width: calc(100% - 2 * #{$main-spacing});
    z-index: $z-index-recipe-sm;
  }
}
