* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #333; }

body {
  overflow-x: hidden;
  overflow-y: auto; }

button:hover {
  cursor: pointer; }

#bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: white; }

#bg-menu-button {
  position: fixed;
  left: 20px;
  top: 20px;
  padding: 5px;
  background: none;
  border: none; }
  #bg-menu-button i {
    color: #324376;
    font-size: 20px; }

#bg-icon {
  color: #ddd;
  font-size: 40px; }

#nav {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 300px;
  padding: 20px;
  z-index: 5;
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: #324376;
  transition: left 0.4s ease-out; }
  #nav.hidden {
    left: -300px; }

#nav-header {
  flex: 0 0 auto;
  margin-bottom: 20px;
  text-align: center;
  height: 35px;
  line-height: 35px;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold; }

#nav-menu-button {
  padding: 5px;
  height: 100%;
  float: left;
  background: none;
  border: none; }
  #nav-menu-button i {
    color: white;
    font-size: 20px; }

#nav-list {
  flex: 0 1 auto;
  margin-bottom: 40px;
  list-style: none;
  overflow-x: hidden;
  overflow-y: auto; }

.nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  border: 1px solid #586ba4;
  border-radius: 999px;
  overflow: hidden;
  transition: background-color 0.2s; }
  .nav-item:not(:last-child) {
    margin-bottom: 20px; }
  .nav-item:hover {
    background-color: #586ba4; }

.nav-item-button {
  flex: 1 1 100%;
  padding: 10px 20px;
  text-align: left;
  background: none;
  border: none;
  color: inherit; }

.nav-item-rating {
  flex: 0 0 auto;
  margin: 5px;
  padding: 5px;
  width: 50px;
  text-align: center;
  color: inherit; }

.nav-item-rating:hover > .rating-value {
  text-decoration: underline dotted; }

.rating-value {
  cursor: default;
  color: inherit; }

.rating-tooltip {
  position: fixed;
  padding: 10px;
  width: 80px;
  left: 0;
  top: 0;
  white-space: nowrap;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  background-color: white;
  border-radius: 5px;
  font-size: 12px;
  transition: opacity 0.2s 0.4s; }
  .rating-tooltip.visible {
    visibility: visible;
    opacity: 1; }

#nav-add-button {
  flex: 0 0 auto;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  background-color: white;
  color: #324376;
  border: none;
  border-radius: 999px;
  font-weight: bold;
  transition: background-color 0.2s; }
  #nav-add-button:hover {
    background-color: #f5dd90; }

#nav-reset-container {
  flex: 0 0 auto;
  margin-top: auto;
  text-align: center; }

#nav-reset-button {
  padding: 10px;
  border: none;
  background: none; }
  #nav-reset-button i {
    font-size: 20px;
    color: #586ba4; }
    #nav-reset-button i:hover {
      color: white; }

#recipe-window {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  left: 50px;
  top: 0px;
  margin: 20px;
  width: calc(100% - 30px - 3 * 20px);
  background-color: white;
  transition: left 0.4s ease-out, width 0.4s ease-out; }
  #recipe-window.narrower {
    left: 300px;
    width: calc(100% - 300px - 2 * 20px); }

#recipe-header {
  display: flex;
  align-items: center;
  padding: 20px;
  width: 100%;
  text-align: center;
  background-color: #324376; }

#recipe-close-button {
  flex: 0 0 auto;
  position: absolute;
  right: 20px;
  padding: 10px;
  width: 100px;
  border-radius: 5px;
  background: white;
  border: 1px solid white;
  color: #242423;
  transition: background-color 0.2s, color 0.2s; }
  #recipe-close-button:hover {
    background: white;
    color: #242423; }
  #recipe-close-button i {
    color: #242423; }
  #recipe-close-button:hover i {
    color: #242423; }

#recipe-name {
  flex: 1 1 100%;
  color: white;
  font-size: 24px; }

#ingredients, #steps {
  padding: 20px;
  width: 50%; }

#ingredients-header, #steps-header {
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  color: #242423;
  font-size: 20px; }

#ingredients-list {
  list-style: none;
  text-align: center;
  border: 1px solid #aaa;
  border-radius: 20px; }

.ingredients-item {
  padding: 10px; }
  .ingredients-item:not(:last-child) {
    border-bottom: 1px solid #aaa; }

#steps-list {
  counter-reset: steps-counter; }

.steps-item {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .steps-item:not(:last-child) {
    border-bottom: 1px solid #aaa; }
  .steps-item::before {
    counter-increment: steps-counter;
    content: counter(steps-counter) ".";
    padding: 5px; }

.step-name {
  flex: 1 1 100%;
  padding: 10px; }

.step-time {
  flex: 0 0 110px;
  margin: 5px;
  padding: 5px 10px;
  text-align: center;
  font-size: 14px;
  background-color: #ddd;
  color: #242423;
  border-radius: 999px; }
  .step-time i {
    float: left;
    color: #324376; }

#recipe-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  width: 100%; }

#recipe-edit-button {
  padding: 10px;
  width: 100px;
  border-radius: 5px;
  background: #ddd;
  border: 1px solid #ddd;
  color: #242423;
  transition: background-color 0.2s, color 0.2s; }
  #recipe-edit-button:hover {
    background: white;
    color: #242423; }
  #recipe-edit-button i {
    color: #242423; }
  #recipe-edit-button:hover i {
    color: #242423; }

#recipe-rating-container {
  display: flex;
  flex-direction: row;
  padding: 0px 10px; }

.recipe-rating-button {
  padding: 5px;
  border: none;
  background: none; }
  .recipe-rating-button i {
    font-size: 24px;
    color: #ddd; }
  .recipe-rating-button.checked > i {
    color: #324376; }
  .recipe-rating-button.hovered > i {
    color: #f5dd90;
    text-shadow: 0px 0px 5px #f68e5f; }

#recipe-delete-button {
  padding: 10px;
  width: 100px;
  border-radius: 5px;
  background: #f76c5e;
  border: 1px solid #f76c5e;
  color: white;
  transition: background-color 0.2s, color 0.2s; }
  #recipe-delete-button:hover {
    background: white;
    color: #242423; }
  #recipe-delete-button i {
    color: white; }
  #recipe-delete-button:hover i {
    color: #242423; }

.popup-container {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  z-index: 25;
  display: none; }
  .popup-container.visible {
    display: flex; }

.popup-bg {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  background-color: #555; }

.popup-container.visible .popup-bg {
  animation: popup-bg 0.4s;
  opacity: 0.7; }

@keyframes popup-bg {
  from {
    opacity: 0; }
  to {
    opacity: 0.7; } }
#popup-delete-window {
  display: none;
  margin: auto;
  padding: 20px;
  max-width: calc(100% - 2 * 20px);
  z-index: 30;
  background-color: white;
  width: 300px; }

#popup-delete-message {
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center; }

#popup-delete-menu {
  display: flex;
  justify-content: space-evenly; }

#delete-ok-button {
  padding: 10px;
  width: 100px;
  border-radius: 5px;
  background: #f76c5e;
  border: 1px solid #f76c5e;
  color: white;
  transition: background-color 0.2s, color 0.2s; }
  #delete-ok-button:hover {
    background: white;
    color: #242423; }
  #delete-ok-button i {
    color: white; }
  #delete-ok-button:hover i {
    color: #242423; }

#delete-cancel-button {
  padding: 10px;
  width: 100px;
  border-radius: 5px;
  background: #555;
  border: 1px solid #555;
  color: white;
  transition: background-color 0.2s, color 0.2s; }
  #delete-cancel-button:hover {
    background: white;
    color: #555; }
  #delete-cancel-button i {
    color: white; }
  #delete-cancel-button:hover i {
    color: #555; }

#popup-edit-window {
  display: none;
  margin: auto;
  padding: 20px;
  max-width: calc(100% - 2 * 20px);
  z-index: 30;
  background-color: white;
  width: 800px; }

#popup-edit-title {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold; }

#popup-edit-form {
  margin-bottom: 20px; }

input,
textarea,
label,
#steps-label {
  margin: 5px;
  padding: 5px; }

input,
textarea {
  background-color: #f4f4f4;
  border: none;
  border-radius: 5px; }
  input.incorrect,
  textarea.incorrect {
    border: 1px solid #f68e5f;
    box-shadow: 0px 0px 2px #f68e5f; }

#input-name,
#input-ingredients {
  display: block;
  width: calc(100% - 15px);
  margin-bottom: 20px; }

#input-ingredients {
  resize: none; }

#input-steps-list {
  list-style: none;
  counter-reset: editor-counter; }

.input-steps-item {
  overflow: hidden;
  counter-increment: editor-counter; }
  .input-steps-item::before {
    content: counter(editor-counter);
    display: inline-block;
    margin: 5px;
    padding: 5px;
    width: 20px;
    text-align: center;
    background-color: #ddd;
    border-radius: 5px; }

.input-step {
  width: calc(100% - 230px); }

.input-time {
  width: 70px; }

#input-steps-menu {
  text-align: center; }

#add-step-button,
#remove-step-button {
  margin: 5px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  color: white;
  border: none;
  border-radius: 999px;
  font-weight: bold; }

#add-step-button {
  background-color: #324376; }

#remove-step-button {
  background-color: #f76c5e; }

#form-validation-warning {
  display: none;
  margin: 5px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f4f1de;
  border-radius: 5px; }
  #form-validation-warning.visible {
    display: block; }

#popup-edit-menu {
  display: flex;
  justify-content: space-evenly; }

#edit-ok-button {
  padding: 10px;
  width: 100px;
  border-radius: 5px;
  background: #324376;
  border: 1px solid #324376;
  color: white;
  transition: background-color 0.2s, color 0.2s; }
  #edit-ok-button:hover {
    background: white;
    color: #324376; }
  #edit-ok-button i {
    color: white; }
  #edit-ok-button:hover i {
    color: #324376; }

#edit-clear-button {
  padding: 10px;
  width: 100px;
  border-radius: 5px;
  background: #ddd;
  border: 1px solid #ddd;
  color: #555;
  transition: background-color 0.2s, color 0.2s; }
  #edit-clear-button:hover {
    background: white;
    color: #555; }
  #edit-clear-button i {
    color: #555; }
  #edit-clear-button:hover i {
    color: #555; }

#edit-cancel-button {
  padding: 10px;
  width: 100px;
  border-radius: 5px;
  background: #555;
  border: 1px solid #555;
  color: white;
  transition: background-color 0.2s, color 0.2s; }
  #edit-cancel-button:hover {
    background: white;
    color: #555; }
  #edit-cancel-button i {
    color: white; }
  #edit-cancel-button:hover i {
    color: #555; }

@media (max-width: 1200px) {
  #ingredients, #steps,
  #steps {
    width: 100%; } }
@media (max-width: 800px) {
  #nav {
    width: 100vw; }
    #nav.hidden {
      transform: translateX(300px); }

  #nav-menu-button {
    display: none; }

  #recipe-window,
  #recipe-window.narrower {
    left: 0px;
    width: calc(100% - 2 * 20px); }

  #recipe-window {
    z-index: 15; } }

/*# sourceMappingURL=style.css.map */
