#bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-size: 1.6rem;
  background: white;
}

#bg-icon {
  font-size: 2em;
  color: $accent-yellow;
}
