.message-container {
  position: fixed;
  font-size: 1.4em;
  top: 1em;
  right: 1em;
  padding: 1em;
  z-index: $z-index-message;
  background-color: $accent-green2;
  color: white;
  border: 1px solid $accent-green3;
  border-radius: 0.6em;
}
